In [2]:
import pandas as pd
import numpy as np

data = {'A': ['a1', 'a1', 'a2'],
        'B': ['b1', 'b2', 'b3'], 
        'C': ['no_affect', np.nan, 'no_affect'],
        'C2': ['no_affect', np.nan, 'no_affect'],
        'D': ['stay', np.nan, 'to_change'], 
        'D2': ['stay', np.nan, 'to_change']}
A = pd.DataFrame(data)
display(A)

data = {'A': ['a1', 'a1', 'a2', 'a2'],
        'B': ['b1', 'b2', 'b3', 'b4'], 
        'D': ['stay', 'updated', np.nan, 34], 
        'D2': ['stay', np.nan, 100, 37], 
        'E': [31, 32, np.nan, 34], 
        'E2': [31, 32, np.nan, 34]}
B = pd.DataFrame(data)
display(B)

    A   B          C         C2          D         D2
0  a1  b1  no_affect  no_affect       stay       stay
1  a1  b2        NaN        NaN        NaN        NaN
2  a2  b3  no_affect  no_affect  to_change  to_change

    A   B        D    D2     E    E2
0  a1  b1     stay  stay  31.0  31.0
1  a1  b2  updated   NaN  32.0  32.0
2  a2  b3      NaN   100   NaN   NaN
3  a2  b4       34    37  34.0  34.0

In [3]:
import sys, os
sys.path.append(os.path.dirname(os.getcwd()))  
from tools.tools import *
# merge new data and update existing data
# usage:
# A = merge_update(A, B, ['col1', 'col2'])

# def merge_update(A, B, index_cols):
#     C = A.merge(B, on=index_cols, how='outer', suffixes=('_x', ''))
#     for col in C.columns: 
#         if col[-2:] == '_x':
#             C[col[:-2]] = C[col[:-2]].fillna(C[col])
#             C.drop(col, axis=1, inplace=True)
#     return C

A = merge_update(A, B, ['A', 'B'])
display(A)

    A   B          C         C2          D    D2     E    E2
0  a1  b1  no_affect  no_affect       stay  stay  31.0  31.0
1  a1  b2        NaN        NaN    updated   NaN  32.0  32.0
2  a2  b3  no_affect  no_affect  to_change   100   NaN   NaN
3  a2  b4        NaN        NaN         34    37  34.0  34.0